<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anve.gold.domain.dao.GoldScoreGiftMapper" >
  <resultMap id="BaseResultMap" type="com.anve.gold.domain.dto.GoldScoreGift" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="BIGINT" />
    <result column="updated" property="updated" jdbcType="BIGINT" />
    <result column="operator_id" property="operatorId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="score_amount" property="scoreAmount" jdbcType="INTEGER" />
    <result column="gold_amount" property="goldAmount" jdbcType="DECIMAL" />
    <result column="coupon_type" property="couponType" jdbcType="INTEGER" />
    <result column="coupon_name" property="couponName" jdbcType="VARCHAR" />
    <result column="coupon_id" property="couponId" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="is_del" property="isDel" jdbcType="BIT" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="settlement" property="settlement" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, created, updated, operator_id, name, score_amount, gold_amount, coupon_type, 
    coupon_name, coupon_id, sort, is_del, goods_id, settlement
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gold_score_gift
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gold_score_gift
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.anve.gold.domain.dto.GoldScoreGift" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into gold_score_gift (created, updated, operator_id, 
      name, score_amount, gold_amount, 
      coupon_type, coupon_name, coupon_id, 
      sort, is_del, goods_id, settlement
      )
    values (#{created,jdbcType=BIGINT}, #{updated,jdbcType=BIGINT}, #{operatorId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{scoreAmount,jdbcType=INTEGER}, #{goldAmount,jdbcType=DECIMAL}, 
      #{couponType,jdbcType=INTEGER}, #{couponName,jdbcType=VARCHAR}, #{couponId,jdbcType=INTEGER}, 
      #{sort,jdbcType=INTEGER}, #{isDel,jdbcType=BIT}, #{goodsId,jdbcType=INTEGER}, #{settlement,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.anve.gold.domain.dto.GoldScoreGift" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into gold_score_gift
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="created != null" >
        created,
      </if>
      <if test="updated != null" >
        updated,
      </if>
      <if test="operatorId != null" >
        operator_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="scoreAmount != null" >
        score_amount,
      </if>
      <if test="goldAmount != null" >
        gold_amount,
      </if>
      <if test="couponType != null" >
        coupon_type,
      </if>
      <if test="couponName != null" >
        coupon_name,
      </if>
      <if test="couponId != null" >
        coupon_id,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="settlement != null" >
        settlement,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="created != null" >
        #{created,jdbcType=BIGINT},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=BIGINT},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="scoreAmount != null" >
        #{scoreAmount,jdbcType=INTEGER},
      </if>
      <if test="goldAmount != null" >
        #{goldAmount,jdbcType=DECIMAL},
      </if>
      <if test="couponType != null" >
        #{couponType,jdbcType=INTEGER},
      </if>
      <if test="couponName != null" >
        #{couponName,jdbcType=VARCHAR},
      </if>
      <if test="couponId != null" >
        #{couponId,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=BIT},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="settlement != null" >
        #{settlement,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.anve.gold.domain.dto.GoldScoreGift" >
    update gold_score_gift
    <set >
      <if test="created != null" >
        created = #{created,jdbcType=BIGINT},
      </if>
      <if test="updated != null" >
        updated = #{updated,jdbcType=BIGINT},
      </if>
      <if test="operatorId != null" >
        operator_id = #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="scoreAmount != null" >
        score_amount = #{scoreAmount,jdbcType=INTEGER},
      </if>
      <if test="goldAmount != null" >
        gold_amount = #{goldAmount,jdbcType=DECIMAL},
      </if>
      <if test="couponType != null" >
        coupon_type = #{couponType,jdbcType=INTEGER},
      </if>
      <if test="couponName != null" >
        coupon_name = #{couponName,jdbcType=VARCHAR},
      </if>
      <if test="couponId != null" >
        coupon_id = #{couponId,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=BIT},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="settlement != null" >
        settlement = #{settlement,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.anve.gold.domain.dto.GoldScoreGift" >
    update gold_score_gift
    set created = #{created,jdbcType=BIGINT},
      updated = #{updated,jdbcType=BIGINT},
      operator_id = #{operatorId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      score_amount = #{scoreAmount,jdbcType=INTEGER},
      gold_amount = #{goldAmount,jdbcType=DECIMAL},
      coupon_type = #{couponType,jdbcType=INTEGER},
      coupon_name = #{couponName,jdbcType=VARCHAR},
      coupon_id = #{couponId,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=BIT},
      goods_id = #{goodsId,jdbcType=INTEGER},
      settlement = #{settlement,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>